/* We can design the ids or classes for the navbar here */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  
  #name {
    margin-left: 30px;
    font-size: 40px;
  }
  
  #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
  }
  
  #navbar li {
    list-style: none;
    padding: 0 15px;
    position: relative;
  }
  
  #navbar li a {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
  }